<header id="navbar">
    <nav class="navbar-container container">
        <a href="/" class="home-link">
            jason.zheng
        </a>

        <div id="navbar-menu">
            <ul class="navbar-links">
                <li class="navbar-item"><a class="navbar-link" href="/about">about</a></li>
                <li class="navbar-item"><a class="navbar-link" href="/contact">contact</a></li>
            </ul>
        </div>
    </nav>
</header>