<div class="stars"></div>
<div class="twinkling"></div> 
<div class="clouds"></div>
<div id="top"></div>

<div id="landing">
    <div id="hero-img-cropped">
        <img src="/img/croppedme.png" alt="croppedme" width="auto" height="500px">
    </div>
    <div id="hero-img">
        <img src="/img/image.JPG" alt="professional photo of me" width="auto" height="500px"> 
    </div>
    <div id="img-area"></div>
    <div id="hero-text">
        <h1>software engineer. 
            born in new york, raised in florida. 
            loves cooking and playing video games.</h1>
    </div>

    <button type="button" class="explore bounce">
        <a href="#works">
            <span class="arrow"></span>
            <span class="arrow"></span>
        </a>
    </button>
</div>


<div id="works">

</div>