<div class="stars"></div>
<div class="twinkling"></div>
<div class="clouds"></div>
<div id="top"></div>

<div id="landing">
    <div id="hero-img-cropped">
        <img src="/img/croppedme.png" alt="croppedme" width="auto" height="500px">
    </div>
    <div id="hero-img">
        <img src="/img/image.JPG" alt="professional photo of me" width="auto" height="500px">
    </div>
    <div id="img-area"></div>
    <div id="hero-text">
        <h1>software engineer.
            born in new york, raised in florida.
            loves cooking and playing video games.</h1>
    </div>

    <button type="button" class="explore bounce">
        <a href="#works">
            <span class="arrow"></span>
            <span class="arrow"></span>
        </a>
    </button>
</div>

<div id="works">
    <div id="work-text">
        <h1>work i am proud of</h1>
    </div>
    <div id="image-track" data-mouse-down-at="50" data-prev-percentage="0">
        <div class="card">
            <a href="https://github.com/bryce-ka/CoES-Joust-Evaluating-the-Coevolutionary-Evolution-Strategy-for-Atari-s-Joust"
                target='_blank'>
                <img class="image" src="/img/works/joust.gif" draggable="false" />
                <button class="card-button">view.source.code</button>
            </a>
        </div>
        <div class="card">
            <a href="https://github.com/jazheng1/RS_P2" target='_blank'>
                <img class="image" src="/img/works/rico.png" draggable="false" />
                <button class="card-button">view.source.code</button>
            </a>
        </div>
        <div class="card">
            <a href="https://github.com/Jrichards1024/Hackathon_JJB" target='_blank'>
                <img class="image" src="/img/works/eai.png" draggable="false" />
                <button class="card-button"> view.source.code</button>
            </a>
        </div>
        <div class="card">
            <a href="https://github.com/neil-b-patel/Skia" target='_blank'>
                <img class="image" src="/img/works/skia.png" draggable="false" />
                <button class="card-button">view.source.code</button>
            </a>
        </div>
        <div class="card">
            <a href="https://drive.google.com/file/d/1Aq0daadj8FgudS-HXcUsSnmaTHJyMJ1F/view?usp=sharing"
                target='_blank'>
                <img class="image" src="/img/works/film.png" draggable="false" />
                <button class="card-button">see.video</button>
            </a>
        </div>
    </div>
</div>

<div id="contact">
    <h1>dont be shy!</h1>
    <div id="form">
        <form action="">
            <label for="fname">first.name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name..">

            <label for="lname">last.name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name..">

            <label for="subject">subject</label>
            <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

            <input type="submit" value="Submit">
        </form>
    </div>
</div>