{{> navbar}}

<div id="landing">
    <div class="stars"></div>
    <div class="twinkling"></div>
    <div class="clouds"></div>
    
    <div id="hero-text" class="reveal">
        <h1>software engineer.
            born in new york, raised in florida.
            loves cooking and playing video games.</h1>
    </div>
    <div id="hero-img-cropped">
        <img src="/img/croppedme.png" alt="croppedme" width="auto" height="500px">
    </div>
    <div id="hero-img">
        <img src="/img/image.jpg" alt="professional photo of me" width="auto" height="500px">
    </div>
    <div id="img-area"></div>

    <button type="button" class="explore bounce">
        <a href="#works">
            <span class="arrow"></span>
            <span class="arrow"></span>
        </a>
    </button>
</div>

<div id="works">
    <div id="work-text" class="reveal">
        <h1>work i have done</h1>
    </div>
    <div id="image-track">
        <div class="card reveal">
            <a href="https://github.com/bryce-ka/CoES-Joust-Evaluating-the-Coevolutionary-Evolution-Strategy-for-Atari-s-Joust"
                target='_blank'>
                <img class="image" src="/img/works/joust.gif" draggable="false" />
                <button class="card-button">view.source.code</button>
            </a>
        </div>
        <div class="card reveal">
            <a href="https://github.com/jazheng1/RS_P2" target='_blank'>
                <img class="image" src="/img/works/rico.png" draggable="false" />
                <button class="card-button">view.source.code</button>
            </a>
        </div>
        <div class="card reveal">
            <a href="https://vrfinal.itch.io/math-asteroids" target='_blank'>
                <img class="image" src="/img/works/vrFinal.png" draggable="false" />
                <button class="card-button">play.game</button>
            </a>
        </div>
        <div class="card reveal">
            <a href="https://github.com/Jrichards1024/Hackathon_JJB" target='_blank'>
                <img class="image" src="/img/works/eai.png" draggable="false" />
                <button class="card-button"> view.source.code</button>
            </a>
        </div>
        <div class="card reveal">
            <a href="https://github.com/jazheng1/React-Tailwind-learning/blob/main/README.md" target='_blank'>
                <img class="image" src="/img/works/hoo.png" draggable="false" />
                <button class="card-button"> view.source.code</button>
            </a>
        </div>
        <div class="card reveal">
            <a href="https://github.com/neil-b-patel/Skia" target='_blank'>
                <img class="image" src="/img/works/skia.png" draggable="false" />
                <button class="card-button">view.source.code</button>
            </a>
        </div>
        <div class="card reveal">
            <a href="https://drive.google.com/file/d/1Aq0daadj8FgudS-HXcUsSnmaTHJyMJ1F/view?usp=sharing"
                target='_blank'>
                <img class="image" src="/img/works/film.png" draggable="false" />
                <button class="card-button">see.video</button>
            </a>
        </div>
    </div>
</div>

<div id="contact">
    <div id="contact-header" class="reveal">
        <h1>contact me</h1>
    </div>
    <div id="contact-action" class="reveal">
        <div id="contact-info">
            <h1>contact information</h1>
            <div class="info">
                <img src="/img/icons/phone.png" style="width: 25px; height:25px" alt="phone icon">
                <p>954-854-3176</p>
            </div>
            <div class="info">
                <img src="/img/icons/email.png" style="width: 25px; height:25px" alt="email icon">
                <p>jason.zheng84@gmail.com</p>
            </div>
            <div class="social">
                <a href="http://linkedin.com/in/jazheng" target="_blank">
                    <img class="icon" src="/img/icons/linkedin.png" style="width: 50px; height:50px" alt="linkedin icon">
                </a>
                <a href="http://github.com/jazheng1" target="_blank">
                    <img class="icon" src="/img/icons/github.png" style="width: 50px; height:50px" alt="linkedin icon">
                </a>
            </div>
        </div>

        <div id="divider"></div>

        <div id="emailForm">
            <h1>dont be shy!</h1>
            <form id="sendEmail">
                <div class="form-item">
                    <label for="name">name</label>
                    <input id="name" class="form-control" type="text" placeholder="your name">
                </div>
                <div class="form-item">
                    <label for="subject">subject</label>
                    <input id="subject" class="form-control" type="text" placeholder="hello there amigo!">
                </div>
                <div class="form-item">
                    <label for="email">email</label>
                    <input id="email" class="form-control" type="text" placeholder="your email">
                </div>
                <div class="form-item">
                    <label for="message">message</label>
                    <textarea id="message" class="form-control" type="text" rows="5" placeholder="i hope you are having a nice day!"></textarea>
                    <br>
                    <div>
                        <button id="email-btn" type="submit" class="btn">send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<footer id="footer">
    <img id="mountains" src="img/mountains.png" alt="mountains">
    <div id="copyright">
        <span>&#169;</span>2023 Jason Zheng
    </div>
</footer>
