<div id="resume">
    <iframe
    src="/img/resume.pdf"
    frameBorder="0"
    scrolling="auto"
    style="position:absolute; top:64px; height:100%; width:100%;" 
    title="Iframe Example"
></iframe>
</div>